/*** VERTICAL NAVIGATION ***/
#vertical-nav {
  position: relative;
  min-width: 180px;
  max-width: 240px;
  width: auto;
  padding: 20px 0;
  background: $blueDark;
  overflow: hidden;
  z-index: 5;

  &.fullscreen-child{
    z-index: 1;
  }
}

.vertical-nav-item {
  position: relative;
  padding: 20px;
  height: auto;

  .vertical-nav-item__link,
  .vertical-nav-item__link--parent{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $blueLinto;
    }


  }
  .vertical-nav-item__link--parent{
    &::after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 2px;
      left: 100%;
      margin-left: -30px;
      background-image: url('../img/nav-arrows@2x.png');
      background-size: 40px 40px;
      background-position: 0 0;
    }
    &:hover::after {
      background-position: 0 -20px;
    }
    &.opened {
      &::after {
        background-position: -20px 0;
      }
      &:hover::after {
        background-position: -20px -20px;
      }
    }
  }

  .vertical-nav-item--children {
    overflow: hidden;
    @include transition(all 0.3s ease-in);
    border-left: 1px solid #ececec;
    margin: 5px 0;

    &.hidden {
      display: flex;
      height: 0px;
      margin: 0;
      padding: 0;
    }
    .vertical-nav-item__link--children {
      display: inline-block;
      font-size: 14px;
      padding: 8px 0 8px 15px;
      font-weight: 400;
      text-decoration: none;
      color: #fff;

      &:hover {
      color: $blueLinto;
      }
      &.active {
        &,
        &:hover{
          background-color: $blueMid;
          font-weight: 600;
        }
      }
    }
  }
  &.active {
    background-color: $blueMid;
    .vertical-nav-item__link,
    .vertical-nav-item__link--parent{
      font-weight: 600;
      &:hover{
        color: #fff;
      }
    }

  }
}