/* Input */

.form__input {
    display: inline-block;
    flex: 1;
    padding: 5px;
    border: 1px solid #fff;
    @include borderRadius(5px);
    @include boxShadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.3));
    font-size: 16px;
    background-color: #fff;
    color: #333;
    max-width: 400px;
    min-width: 160px;
    margin: 5px 0;
    outline: none;
    &.form__input--error {
        background-color: rgba(255, 112, 112, 0.1);
        border-color: $error;
    }
    &.form__input--valid {
        background-color: rgba(125, 252, 245, 0.1);
        border-color: $valid;
    }
    /* LOGIN */
    &.form__input--login {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid #fff;
        @include borderRadius(0px);
        @include cancelBoxShadow();
        margin: 10px 0;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        padding: 0 5px 0 45px;
        color: #fff;
        background-image: url('../img/login-icons@2x.png');
        background-size: 40px 80px;
        background-repeat: no-repeat;
        max-width: 330px;
        &.name {
            background-position: 0 0;
        }
        &.pswd {
            background-position: 0 -40px;
        }
        &:focus,
        &:active {
            outline: none !important;
            border: 1px solid #fff;
            background-color: rgba(255, 255, 255, 0.2)
        }
        &.error {
            border: 1px solid $error;
            background-color: rgba(255, 112, 112, 0.2);
        }
    }
    &[disabled="disabled"] {
        background-color: #ececec;
        border-color: #ccc;
        color: $textColor;
    }
}

.form__input::placeholder {
    color: #b9b9b9;
    font-style: italic;
}

.form__input::-webkit-input-placeholder {
    color: #b9b9b9;
    font-style: italic;
}

.form__input::-ms-input-placeholder {
    color: #b9b9b9;
    font-style: italic;
}

.form__input::-moz-placeholder {
    color: #b9b9b9;
    font-style: italic;
}

.form__input:-moz-placeholder {
    color: #b9b9b9;
    font-style: italic;
}


/* Select */

.form__select {
    display: inline-block;
    flex: 1;
    padding: 5px;
    border: 1px solid #fff;
    @include borderRadius(5px);
    @include boxShadow(0,
    2px,
    4px,
    0,
    rgba(0, 0, 0, 0.3));
    font-size: 15px;
    background-color: #fff;
    color: #333;
    max-width: 400px;
    min-width: 220px;
    margin: 5px 0;
    outline: none;
    &.form__select--error {
        background-color: rgba(255, 112, 112, 0.1);
        border-color: $error;
    }
    &.form__select--valid {
        background-color: rgba(125, 252, 245, 0.1);
        border-color: $valid;
    }
    &[disabled="disabled"] {
        background-color: #ececec;
        border-color: #ccc;
        color: $textColor;
    }
    &.form__select--inarray {
        max-width: 120px;
    }
}


/* Textarea */

.form__textarea {
    display: inline-block;
    flex: 1;
    padding: 5px;
    border: 1px solid #fff;
    @include borderRadius(5px);
    @include boxShadow(0,
    2px,
    4px,
    0,
    rgba(0, 0, 0, 0.3));
    font-size: 14px;
    background-color: #fff;
    color: #333;
    max-width: 400px;
    min-width: 220px;
    min-height: 80px;
    height: auto;
    margin: 5px 0;
    resize: vertical;
    &.form__textarea--error {
        background-color: rgba(255, 112, 112, 0.1);
        border-color: $error;
    }
    &.form__textarea--valid {
        background-color: rgba(125, 252, 245, 0.1);
        border-color: $valid;
    }
}


/* Label */

.form__label {
    font-size: 14px;
    font-weight: 600;
    color: $blueMid;
    &.form__label--sub {
        line-height: 30px;
        font-weight: 500;
    }
}


/* Error field */

.form__error-field {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 0 0 4px 0;
    color: $error;
    font-style: italic;
}

.form__info {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #b2b2b2;
    font-style: italic;
}

.stt-field {
    margin: 0 10px;
}