@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $textColor;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    display: inline-block;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 10px 0;
    color: $blueDark;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 5px 0;
    color: $blueMid;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 5px 0;
}

.flex {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

img {
    display: inline-block;
}

.hidden {
    display: none;
}

.block {
    padding: 20px;
    background-color: #fff;
    @include blockShadow();
    @include borderRadius(3px);
    margin: 0 0 20px 0;
    &.block--transparent {
        @include cancelBoxShadow();
        background-color: transparent;
        padding: 20px 0;
    }
    &.block--no-padding {
        padding: 0 !important;
    }
    &.block--no-margin {
        margin: 0 !important;
    }
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    &.table--full {
        width: 100%;
    }
    thead {
        tr {
            th {
                font-size: 16px;
                font-weight: 600;
                padding: 5px 10px;
                text-align: left;
                color: $greenChart;
                &.status {
                    width: 100px;
                }
            }
        }
    }
    tbody {
        @include blockShadow();
        @include borderRadius(3px);
        tr {
            &:first-child {
                td:first-child {
                    -webkit-border-top-left-radius: 3px;
                    -moz-border-radius-topleft: 3px;
                    border-top-left-radius: 3px;
                }
                td:last-child {
                    -webkit-border-top-right-radius: 3px;
                    -moz-border-radius-topright: 3px;
                    border-top-right-radius: 3px;
                }
            }
            &:last-child {
                td:first-child {
                    -webkit-border-bottom-left-radius: 3px;
                    -moz-border-radius-bottomleft: 3px;
                    border-bottom-left-radius: 3px;
                }
                td:last-child {
                    -webkit-border-bottom-right-radius: 3px;
                    -moz-border-radius-bottomright: 3px;
                    border-bottom-right-radius: 3px;
                }
                td {
                    border: none;
                }
            }
            td {
                border-bottom: 1px solid #ececec;
                font-size: 16px;
                padding: 15px 10px;
                background-color: #fefefe;
                font-size: 14px;
                color: #777;
                &.important {
                    font-weight: 600;
                    color: #545454;
                }
                &.center {
                    text-align: center;
                }
                &.status {
                    width: 100px;
                }
            }
            &:hover {
                td {
                    background-color: #f8f8f8;
                }
            }
            &.active {
                td {
                    background-color: $greenLight;
                }
            }
        }
    }
}

.icon.icon--status {
    display: inline-block;
    width: 12px;
    height: 12px;
    @include borderRadius(6px);
    &.online {
        background-color: $valid;
    }
    &.offline {
        background-color: $error;
    }
}

details.description {
    &:focus {
        outline: none;
    }
    padding: 0 20px 20px 20px;
    summary {
        font-weight: 700;
        font-size: 16px;
        color: $blueMid;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: $greenChart;
        }
    }
    span {
        font-size: 15px;
        color: $blueDark;
        font-style: italic;
        display: inline-block;
        width: 100%;
        a {
            color: $greenChart;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}